installation
## Désinstallation de Wolfram et libreoffice
sudo apt-get -y purge wolfram-engine 
sudo apt-get -y purge libreoffice*

sudo apt-get -y clean
sudo apt-get -y autoremove

sudo apt -y update
sudo apt -y upgrade
sudo apt-get -y remove x264 libx264-dev

## Install dependencies
sudo apt-get -y install build-essential checkinstall cmake pkg-config yasm
sudo apt-get -y install git gfortran
sudo apt-get -y install libjpeg8-dev libjasper-dev libpng12-dev
sudo apt-get -y install libtiff5-dev
sudo apt-get -y install libtiff-dev
sudo apt-get -y install libavcodec-dev libavformat-dev libswscale-dev libdc1394-22-dev
sudo apt-get -y install libxine2-dev libv4l-dev
cd /usr/include/linux
sudo ln -s -f ../libv4l1-videodev.h videodev.h
cd $cwd
sudo apt-get -y install libgstreamer0.10-dev libgstreamer-plugins-base0.10-dev
sudo apt-get -y install libgtk2.0-dev libtbb-dev qt5-default
sudo apt-get -y install libatlas-base-dev
sudo apt-get -y install libmp3lame-dev libtheora-dev
sudo apt-get -y install libvorbis-dev libxvidcore-dev libx264-dev
sudo apt-get -y install libopencore-amrnb-dev libopencore-amrwb-dev
sudo apt-get -y install libavresample-dev
sudo apt-get -y install x264 v4l-utils

# Optional dependencies
sudo apt-get -y install libprotobuf-dev protobuf-compiler
sudo apt-get -y install libgoogle-glog-dev libgflags-dev
sudo apt-get -y install libgphoto2-dev libeigen3-dev libhdf5-dev doxygen

sudo apt-get -y install python3-dev python3-pip
sudo -H pip3 install -U pip numpy
sudo apt-get -y install python3-testresources


git clone https://github.com/opencv/opencv.git
cd opencv
git checkout $cvVersion
cd ..	 
git clone https://github.com/opencv/opencv_contrib.git
cd opencv_contrib
git checkout $cvVersion
cd ..

pip3 install opencv-python
sudo apt install libqtgui4
sudo apt install libqt4-test
pip install opencv-contrib-python==4.1.0.25

# check for reference
# https://www.aranacorp.com/en/installing-opencv-on-raspberry-pi/
# https://learnopencv.com/install-opencv-4-on-raspberry-pi

#Installing LCD I2C 
sudo pip3 install rpi_lcd
# check for reference 
# https://www.electroniclinic.com/raspberry-pi-16x2-lcd-i2c-interfacing-and-python-programming/

# Running python script at boot using crontab job
# From Terminal enter
crontab -e
# Pick nano as editor for the first time using it
@reboot export DISPLAY = :0.0 && python3 /home/pi/...directory.../script.py 